In [35]:
import numpy as np
import pandas as pd

In [36]:
df = pd.read_csv("train_dataset.csv")
dft = pd.read_csv("public_dataset_without_gt.csv")

In [37]:
dft

,ID,pms_i_ymd,Area,Province,Shop Name,gender,date_of_birth_week,date_of_birth,marital_status,number_of_children,postal_code,tel_category,number_of_resident,living_period_year,living_period_month,type_of_residence,c_postal_code,c_business_type,c_number_of_employee,c_position,c_occupation,c_employment_status,c_monthly_salary,c_number_of_working_year,c_number_of_working_month,c_salary_payment_methods,c_date_of_salary_payment,media,place_for_sending_information,r_expected_credit_limit,r_propose,r_allloan_case,r_allloan_amount,r_additional_income,r_spouse_income,r_generalcode1,r_generalcode2,r_generalcode3,r_generalcode4,r_generalcode5,apply,Overdraft_count,Personal Loan_count,Mortgage_count,Credit Card_count,Automobile installment purchase_count,Other installment purchase_count,Loan for agriculture_count,Other Loans_count,Overdraft_balance,Personal Loan_balance,Mortgage_balance,Credit Card_balance,Automobile installment purchase_balance,Other installment purchase_balance,Loan for agriculture_balance,Other Loans_balance,Bank inquiry_count,Consumer finance inquiry_count,Leasing enquiry_count
0,202412000196,2018/9/10,Bangkok Metropolitan Region,Bangkok,Silom Complex,F2,2,1981/6/6,2,2,10120,3,4,9,0,6,10500.0,7,20,5,55,5,7150,0,1,1,31.0,3,2,5000.0,5.0,0.0,0,0.0,17000.0,1.0,4.0,1.0,4.0,3.0,WI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,0
1,202412000241,2018/9/1,Bangkok Metropolitan Region,Bangkok,Silom Complex,F2,2,1993/7/12,2,0,10120,3,5,3,2,6,10120.0,4,60,5,54,1,12000,1,11,1,1.0,7,1,10000.0,5.0,3.0,20000,0.0,12700.0,1.0,3.0,2.0,4.0,4.0,WI,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,27661.0,23010.0,0.0,0.0,0.0,0.0,0.0,0.0,0,12,0
2,202412000242,2018/9/3,Bangkok Metropolitan Region,Bangkok,Silom Complex,F2,4,1976/2/18,1,0,10120,3,1,2,0,6,10120.0,4,300,5,54,2,7800,0,3,1,25.0,7,1,20000.0,5.0,2.0,17000,1000.0,NaN,NaN,NaN,2.0,4.0,4.0,WI,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12653.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4,0
3,202412000243,2018/9/3,Bangkok Metropolitan Region,Bangkok,Silom Complex,F1,5,1979/10/25,3,3,10530,3,6,10,0,3,10500.0,5,5000,2,20,1,25215,6,4,1,31.0,7,2,50000.0,5.0,3.0,50000,0.0,0.0,NaN,NaN,2.0,4.0,4.0,WI,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20304.0,0.0,31430.0,0.0,0.0,12,2,1
4,202412000244,2018/9/4,Bangkok Metropolitan Region,Bangkok,Silom Complex,M,2,1988/10/10,2,2,10700,3,5,1,4,6,10120.0,5,3400,4,51,1,13660,1,4,1,30.0,3,1,10000.0,5.0,0.0,0,0.0,23000.0,1.0,5.0,1.0,3.0,4.0,WI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6562,202412049778,2018/9/28,webpak,webpak,webpak,F2,7,1985/8/3,2,1,20230,3,2,2,3,6,20230.0,4,28,5,54,1,10900,1,0,1,25.0,1,1,54000.0,NaN,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,OT,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6351.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,3,0
6563,202412049779,2018/9/28,webpak,webpak,webpak,F2,1,1993/11/14,1,0,20230,3,1,2,2,6,21140.0,4,3000,5,54,1,10300,1,9,1,25.0,1,2,0.0,NaN,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,OT,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7128.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,7,0
6564,202412049780,2018/9/28,webpak,webpak,webpak,M,5,1969/8/14,2,0,21140,3,4,5,2,2,20230.0,7,1000,5,55,5,6930,2,0,1,3.0,1,1,34000.0,6.0,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,OT,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,158000.0,0.0,0,0,0
6565,202412049781,2018/9/28,webpak,webpak,webpak,F2,3,1987/10/13,1,0,20000,3,1,5,7,6,20000.0,4,1000,5,54,1,14228,5,0,1,27.0,1,2,14000.0,5.0,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,OT,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,16075.0,0.0,0.0,658796.0,20580.0,0.0,0.0,2,3,0
6566,202412049782,2018/9/28,webpak,webpak,webpak,M,3,1992/6/16,1,0,20230,3,2,3,0,6,20230.0,4,28,5,54,1,9900,0,6,1,25.0,1,1,10000.0,5.0,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,OT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2,0

In [38]:
dfm = df.drop(columns=["default_12month"])
def create_train_test_flag(df_train, df_test):
    df_train['train_flag'] = 1
    df_test['train_flag'] = 0
    total_df = pd.concat([df_train, df_test], axis = 0,ignore_index=True)
    return total_df
#32523
dfX = create_train_test_flag(dfm, dft)
dfX = dfX.drop(columns=["ID","pms_i_ymd","date_of_birth","Province","Area","Shop Name"])
y = df["default_12month"]

In [39]:
def feature_type(total_data):
  categorical_cols = total_data.select_dtypes(include=['object']).columns
  numerical_cols = total_data.select_dtypes(include=['int64', 'float64']).columns
  return categorical_cols , numerical_cols
feature_type(dfX)

(Index(['gender', 'apply', 'Leasing enquiry_count'], dtype='object'),
 Index(['date_of_birth_week', 'marital_status', 'number_of_children',
        'postal_code', 'tel_category', 'number_of_resident',
        'living_period_year', 'living_period_month', 'type_of_residence',
        'c_postal_code', 'c_business_type', 'c_number_of_employee',
        'c_position', 'c_occupation', 'c_employment_status', 'c_monthly_salary',
        'c_number_of_working_year', 'c_number_of_working_month',
        'c_salary_payment_methods', 'c_date_of_salary_payment', 'media',
        'place_for_sending_information', 'r_expected_credit_limit', 'r_propose',
        'r_allloan_case', 'r_allloan_amount', 'r_additional_income',
        'r_spouse_income', 'r_generalcode1', 'r_generalcode2', 'r_generalcode3',
        'r_generalcode4', 'r_generalcode5', 'Overdraft_count',
        'Personal Loan_count', 'Mortgage_count', 'Credit Card_count',
        'Automobile installment purchase_count',
        'Other installment purchase_count', 'Loan for agriculture_count',
        'Other Loans_count', 'Overdraft_balance', 'Personal Loan_balance',
        'Mortgage_balance', 'Credit Card_balance',
        'Automobile installment purchase_balance',
        'Other installment purchase_balance', 'Loan for agriculture_balance',
        'Other Loans_balance', 'Bank inquiry_count',
        'Consumer finance inquiry_count', 'train_flag'],
       dtype='object'))

In [40]:
dfX = dfX.fillna(0)
sexdum = pd.get_dummies(dfX["gender"],dtype=int)
applydum = pd.get_dummies(dfX["apply"],dtype=int)
enqudum = pd.get_dummies(dfX["Leasing enquiry_count"],dtype=int)
dfX.drop(columns=["gender","apply","Leasing enquiry_count"],inplace=True)
dfX = pd.concat([dfX,sexdum,applydum,enqudum],axis=1)

In [41]:
dfX

,date_of_birth_week,marital_status,number_of_children,postal_code,tel_category,number_of_resident,living_period_year,living_period_month,type_of_residence,c_postal_code,c_business_type,c_number_of_employee,c_position,c_occupation,c_employment_status,c_monthly_salary,c_number_of_working_year,c_number_of_working_month,c_salary_payment_methods,c_date_of_salary_payment,media,place_for_sending_information,r_expected_credit_limit,r_propose,r_allloan_case,r_allloan_amount,r_additional_income,r_spouse_income,r_generalcode1,r_generalcode2,r_generalcode3,r_generalcode4,r_generalcode5,Overdraft_count,Personal Loan_count,Mortgage_count,Credit Card_count,Automobile installment purchase_count,Other installment purchase_count,Loan for agriculture_count,Other Loans_count,Overdraft_balance,Personal Loan_balance,Mortgage_balance,Credit Card_balance,Automobile installment purchase_balance,Other installment purchase_balance,Loan for agriculture_balance,Other Loans_balance,Bank inquiry_count,Consumer finance inquiry_count,train_flag,F1,F2,M,DS,LB,OT,SB,WI,*,0,1,2,3,4,5,6,7,8,9
0,6,1,2,10400,3,2,5,0,6,10330.0,7,9999,5,55,5,9070,5,0,1,30.0,7,1,40000.0,5.0,0.0,0,0.0,0.0,0.0,0.0,2.0,4.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,74484.0,0.0,0.0,0.0,0.0,30000.0,0.0,12,6,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
1,4,1,0,10500,3,3,4,0,6,10500.0,7,500,5,55,5,11765,5,4,1,28.0,8,2,20000.0,6.0,0.0,0,5000.0,0.0,0.0,0.0,1.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
2,5,1,0,10170,3,6,5,2,3,10310.0,7,1000,4,53,5,10420,0,3,1,30.0,7,1,20000.0,5.0,1.0,10000,0.0,0.0,0.0,0.0,1.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,1,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,7,1,2,10500,3,2,4,3,5,10500.0,3,500,5,55,2,13659,4,3,1,31.0,1,2,15000.0,5.0,0.0,0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
4,6,3,1,10120,3,2,0,4,4,10120.0,7,1000,5,55,5,7440,0,2,1,14.0,7,2,10000.0,5.0,0.0,0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39086,7,2,1,20230,3,2,2,3,6,20230.0,4,28,5,54,1,10900,1,0,1,25.0,1,1,54000.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6351.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,3,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
39087,1,1,0,20230,3,1,2,2,6,21140.0,4,3000,5,54,1,10300,1,9,1,25.0,1,2,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7128.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,7,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
39088,5,2,0,21140,3,4,5,2,2,20230.0,7,1000,5,55,5,6930,2,0,1,3.0,1,1,34000.0,6.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,158000.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
39089,3,1,0,20000,3,1,5,7,6,20000.0,4,1000,5,54,1,14228,5,0,1,27.0,1,2,14000.0,5.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,16075.0,0.0,0.0,658796.0,20580.0,0.0,0.0,2,3,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
39090,3,1,0,20230,3,2,3,0,6,20230.0,4,28,5,54,1,9900,0,6,1,25.0,1,1,10000.0,5.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0

In [42]:
x_test = dfX.iloc[32524:,:].copy(deep=True)
dfX = dfX.iloc[:32524,:]
Xy= pd.concat([dfX,y],axis=1)

In [43]:
dfX

,date_of_birth_week,marital_status,number_of_children,postal_code,tel_category,number_of_resident,living_period_year,living_period_month,type_of_residence,c_postal_code,c_business_type,c_number_of_employee,c_position,c_occupation,c_employment_status,c_monthly_salary,c_number_of_working_year,c_number_of_working_month,c_salary_payment_methods,c_date_of_salary_payment,media,place_for_sending_information,r_expected_credit_limit,r_propose,r_allloan_case,r_allloan_amount,r_additional_income,r_spouse_income,r_generalcode1,r_generalcode2,r_generalcode3,r_generalcode4,r_generalcode5,Overdraft_count,Personal Loan_count,Mortgage_count,Credit Card_count,Automobile installment purchase_count,Other installment purchase_count,Loan for agriculture_count,Other Loans_count,Overdraft_balance,Personal Loan_balance,Mortgage_balance,Credit Card_balance,Automobile installment purchase_balance,Other installment purchase_balance,Loan for agriculture_balance,Other Loans_balance,Bank inquiry_count,Consumer finance inquiry_count,train_flag,F1,F2,M,DS,LB,OT,SB,WI,*,0,1,2,3,4,5,6,7,8,9
0,6,1,2,10400,3,2,5,0,6,10330.0,7,9999,5,55,5,9070,5,0,1,30.0,7,1,40000.0,5.0,0.0,0,0.0,0.0,0.0,0.0,2.0,4.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,74484.0,0.0,0.0,0.0,0.0,30000.0,0.0,12,6,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
1,4,1,0,10500,3,3,4,0,6,10500.0,7,500,5,55,5,11765,5,4,1,28.0,8,2,20000.0,6.0,0.0,0,5000.0,0.0,0.0,0.0,1.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
2,5,1,0,10170,3,6,5,2,3,10310.0,7,1000,4,53,5,10420,0,3,1,30.0,7,1,20000.0,5.0,1.0,10000,0.0,0.0,0.0,0.0,1.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,1,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,7,1,2,10500,3,2,4,3,5,10500.0,3,500,5,55,2,13659,4,3,1,31.0,1,2,15000.0,5.0,0.0,0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
4,6,3,1,10120,3,2,0,4,4,10120.0,7,1000,5,55,5,7440,0,2,1,14.0,7,2,10000.0,5.0,0.0,0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32519,3,1,0,12120,3,3,1,0,2,12120.0,7,4500,5,54,5,6825,0,9,1,28.0,1,1,34000.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
32520,3,1,0,25140,3,2,15,0,3,25140.0,4,600,5,54,2,8398,2,0,1,10.0,1,1,41000.0,5.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,267504.0,0.0,0.0,0.0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
32521,2,1,0,20230,3,2,2,0,6,20110.0,4,3000,5,54,1,9120,0,8,1,5.0,1,1,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65780.0,0.0,0.0,0,1,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
32522,2,1,0,20150,3,2,2,6,2,21140.0,4,500,5,54,1,15373,0,7,1,5.0,1,2,76000.0,5.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,56224.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0
32523,2,1,0,12120,3,2,2,1,2,12120.0,4,5000,5,54,1,20057,7,0,1,25.0,1,1,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8507.0,0.0,0.0,0.0,0.0,0.0,0.0,8,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0

In [44]:
x_test

,date_of_birth_week,marital_status,number_of_children,postal_code,tel_category,number_of_resident,living_period_year,living_period_month,type_of_residence,c_postal_code,c_business_type,c_number_of_employee,c_position,c_occupation,c_employment_status,c_monthly_salary,c_number_of_working_year,c_number_of_working_month,c_salary_payment_methods,c_date_of_salary_payment,media,place_for_sending_information,r_expected_credit_limit,r_propose,r_allloan_case,r_allloan_amount,r_additional_income,r_spouse_income,r_generalcode1,r_generalcode2,r_generalcode3,r_generalcode4,r_generalcode5,Overdraft_count,Personal Loan_count,Mortgage_count,Credit Card_count,Automobile installment purchase_count,Other installment purchase_count,Loan for agriculture_count,Other Loans_count,Overdraft_balance,Personal Loan_balance,Mortgage_balance,Credit Card_balance,Automobile installment purchase_balance,Other installment purchase_balance,Loan for agriculture_balance,Other Loans_balance,Bank inquiry_count,Consumer finance inquiry_count,train_flag,F1,F2,M,DS,LB,OT,SB,WI,*,0,1,2,3,4,5,6,7,8,9
32524,2,2,2,10120,3,4,9,0,6,10500.0,7,20,5,55,5,7150,0,1,1,31.0,3,2,5000.0,5.0,0.0,0,0.0,17000.0,1.0,4.0,1.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
32525,2,2,0,10120,3,5,3,2,6,10120.0,4,60,5,54,1,12000,1,11,1,1.0,7,1,10000.0,5.0,3.0,20000,0.0,12700.0,1.0,3.0,2.0,4.0,4.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,27661.0,23010.0,0.0,0.0,0.0,0.0,0.0,0.0,0,12,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
32526,4,1,0,10120,3,1,2,0,6,10120.0,4,300,5,54,2,7800,0,3,1,25.0,7,1,20000.0,5.0,2.0,17000,1000.0,0.0,0.0,0.0,2.0,4.0,4.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12653.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
32527,5,3,3,10530,3,6,10,0,3,10500.0,5,5000,2,20,1,25215,6,4,1,31.0,7,2,50000.0,5.0,3.0,50000,0.0,0.0,0.0,0.0,2.0,4.0,4.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20304.0,0.0,31430.0,0.0,0.0,12,2,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0
32528,2,2,2,10700,3,5,1,4,6,10120.0,5,3400,4,51,1,13660,1,4,1,30.0,3,1,10000.0,5.0,0.0,0,0.0,23000.0,1.0,5.0,1.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39086,7,2,1,20230,3,2,2,3,6,20230.0,4,28,5,54,1,10900,1,0,1,25.0,1,1,54000.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6351.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,3,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
39087,1,1,0,20230,3,1,2,2,6,21140.0,4,3000,5,54,1,10300,1,9,1,25.0,1,2,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7128.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,7,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
39088,5,2,0,21140,3,4,5,2,2,20230.0,7,1000,5,55,5,6930,2,0,1,3.0,1,1,34000.0,6.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,158000.0,0.0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
39089,3,1,0,20000,3,1,5,7,6,20000.0,4,1000,5,54,1,14228,5,0,1,27.0,1,2,14000.0,5.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,16075.0,0.0,0.0,658796.0,20580.0,0.0,0.0,2,3,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
39090,3,1,0,20230,3,2,3,0,6,20230.0,4,28,5,54,1,9900,0,6,1,25.0,1,1,10000.0,5.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0

In [45]:
from pycaret.classification import *
expml = setup(data=Xy,target="default_12month",session_id=42,fold=10,preprocess=True,train_size=0.7,fix_imbalance = True,remove_outliers = True)

In [46]:
best = compare_models(sort="AUC")

In [47]:
model=create_model("lightgbm")

In [58]:
predict = model.predict_proba(x_test)

In [59]:
predict

array([[0.84201914, 0.15798086],
       [0.93497713, 0.06502287],
       [0.80044126, 0.19955874],
       ...,
       [0.87284663, 0.12715337],
       [0.82173964, 0.17826036],
       [0.90772486, 0.09227514]])

In [60]:
result = pd.concat([dft["ID"],pd.DataFrame(predict[:,1])],axis=1)
#result.rename({"prediction_score":"default_12month"})

In [61]:
result

                ID         0
0     202412000196  0.157981
1     202412000241  0.065023
2     202412000242  0.199559
3     202412000243  0.220027
4     202412000244  0.123796
...            ...       ...
6562  202412049778  0.141622
6563  202412049779  0.166886
6564  202412049780  0.127153
6565  202412049781  0.178260
6566  202412049782  0.092275

[6567 rows x 2 columns]

In [62]:
result.rename(columns={0:"default_12month"},inplace=True)

In [63]:
result

                ID  default_12month
0     202412000196         0.157981
1     202412000241         0.065023
2     202412000242         0.199559
3     202412000243         0.220027
4     202412000244         0.123796
...            ...              ...
6562  202412049778         0.141622
6563  202412049779         0.166886
6564  202412049780         0.127153
6565  202412049781         0.178260
6566  202412049782         0.092275

[6567 rows x 2 columns]

In [64]:
result.to_csv("prediction.csv",index=False)